/vendor/
/node_modules/
/public/assets/.cache/
*.env
config.php
public/error_log
storage/logs/*.log
storage/logs/*.txt
uploads/attachments/*
!uploads/attachments/.gitkeep
uploads/signatures/*
!uploads/signatures/.gitkeep
.DS_Store
Thumbs.db
